.detail-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 400px;
    align-self: center;
    margin: auto
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

p::after{
    content: ' ';
    white-space: pre;
}

.detail-img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    overflow: hidden;
    opacity: .9;
}